-Xms4g
-Xmx4g

-XX:SoftMaxHeapSize=4g
-XX:MaxMetaspaceSize=256m
-XX:CompressedClassSpaceSize=128m
-XX:MaxDirectMemorySize=256m

-XX:+UseZGC

-XX:+TieredCompilation
-XX:ReservedCodeCacheSize=256m
-XX:InitialCodeCacheSize=128m

-XX:+AlwaysPreTouch
-XX:+UseCompressedOops
-XX:+UseCompactObjectHeaders

-XX:+AlwaysActAsServerClassMachine
-XX:+UnlockExperimentalVMOptions